<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037991358174-41tkr2r1ehno3gdkkkrjsnf4bqps467p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037991358174-41tkr2r1ehno3gdkkkrjsnf4bqps467p</string>
	<key>API_KEY</key>
	<string>AIzaSyDXkBfcJuLmC97I_w7-dGRhdmkOPB2jIfs</string>
	<key>GCM_SENDER_ID</key>
	<string>1037991358174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.TheParkBand</string>
	<key>PROJECT_ID</key>
	<string>park-band-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>park-band-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037991358174:ios:93b9f5d0ef09100edc1c4f</string>
</dict>
</plist>